.footer {
    background-color: var(--first-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__list {
    display: flex;
    align-items: baseline;
  }
  .footer__item:not(:first-child) {
    padding-left: 70px;
  }