.teammate {
    background-color: var(--third-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-bottom: 30px;
  }
  .teammate__photo {
    display: block;
  }
  .teammate__name {
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .teammate__name,
  .teammate__spec {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
  }
  .teammate__spec {
    color: var(--second-color);
    margin-bottom: 16px;
  }